.assignments {
    &--assignmentList {
        margin: 24px 50px;
    }
}

.assignment {
    padding: 18px 24px;
    border: 1px $secondary-3 solid;
    margin-bottom: 24px;

    h2, p {
        margin: 0;
        text-decoration: none !important;
    }

    &:hover {
        border: 1px $primary-1 solid;
        cursor: pointer;
    }
}

.assignmentPage {
    text-align: center;
    margin: 24px 50px;

    &--buttonWrapper {
        padding: 12px 0px 24px 0px; 
    }

    &--description {
        p {
            text-align: left;
        }
    }
}