.assignments {
    &--assignmentList {
        margin: 24px 50px;
    }
}

.assignment {
    padding: 24px 24px;
    border: 1px $secondary-3 solid;
    margin-bottom: 24px;

    h2, p {
        margin: 0;
        text-decoration: none !important;
    }

    &:hover {
        border: 1px $primary-1 solid;
        cursor: pointer;
    }

    &--hoverMenu {
        position: absolute;
        display: flex;
        transform: translate(750px, -105px);
        background-color: $secondary-1;
        border: 1px $secondary-3 solid;
        padding: 8px 12px;
        &:hover {
            border: 1px $primary-1 solid;
        }
    }
}

.chatBubbleIcon svg {
    margin-right: 12px;
    fill:black
}

.assignmentPage {
    text-align: center;
    margin: 24px 50px;

    &--buttonWrapper {
        padding: 12px 0px 24px 0px; 
    }

    &--description {
        padding-bottom: 24px;
        p {
            text-align: left;
        }
    }

    &--submission {
        width: 390px;
        height: 135px;
        border: 1px $secondary-2 solid;

        &--container {
            padding: 25px 0px 100px 0px;
        }

        &-tabs {
            display: flex;
            justify-content: space-between;
            border-bottom: $secondary-2 solid;
        }

        &-tab {
            width: 100%;
            padding: 9px 0px;
            cursor: pointer;

            &.active {
                font-weight: 600;
            }
        }

        &Text {
            margin-top: 28px;
            margin-left: 12px;
        }

        &-container {
            padding: 24px 0px 100px 0px;
        }
    }
}