.chat-header {
    max-height: 75px;
    border: solid grey 3px;
    padding: 10px;

    img{
        width: 40px;
    }
}

.chat-body {
    overflow-y: auto;
    height: 80vh;
    width: 100%;
    margin: 0em;
}

.chat-column{
    background-color: #f1f1f1;
    h1{
        margin: 0;
        padding-top: 10px;
        text-align: center;
    }

    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: auto; /* Enable scrolling if the sidenav has too much content */
    }
    
    li{
        &.sent{
            text-align: right;
        }
        &.received{
            text-align: left;
        }
        padding: 10px;
        font-size: 20px;
    }
}

.chatColumn {
    width: 25%;
    height: 100%;
}

.chat-message-author {
    text-align: right;
    background-color: lightgrey;
}