.courseNav {
  border-right: 5px $primary-3 solid;
  border-left: 5px $primary-3 solid;
  background-color: $secondary-2;
  width: 215px;
  height: 100vh;
  display: flex;
  flex-direction: column;

  &--pages {
    text-align: center;

    li {
      padding: 6px 0px;
    }

    a:not(.active):hover {
      color: $primary-2;
    }
    a.active:hover {
      color: inherit;
    }
  }

  &--course-info {
    text-align: center;
    padding: 12px 16px 0px 16px;
  }

  &--img {
    width: 140px;
    height: 85px;
    padding-bottom: 12px;
  }

  &--courseTitle {
    font-weight: 600;
    margin: 0;
  }

  &--courseProfessor {
    margin: 0;
    padding: 0;
  }

  &--line {
    margin: 12px 16px 12px 16px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  &--tabs {
    text-align: center;
    height: 100vh;
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    li {
      padding: 6px 0px;
    }
  }

  a,
  p {
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: inherit;
  }
}

.addCourse {
  margin: 0px 24px;
  cursor: pointer;
  
  &:hover line, &:hover rect {
    stroke: $highlight;
  }

  &--modal {
    background: $primary-3;
    color: $secondary-1;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 12px 24px;
    top: 45%;
    left: 40%;

    label {
      font-size: 24px;
      font-weight: 500;
      padding-bottom: 12px;
    }

    &-backdrop {
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .5;
      background-color: black;
      position: absolute;
    }
  }
}

#addCourseName {
  margin-right: 4px;
}

.closeIcon--container {
  width: 100%;
  text-align: right;
  padding-bottom: 12px;

  &:hover {
    cursor: pointer;
    path {
      fill: $primary-2;
    }
  }
}

.courseSelector {
  &--container {
    display: flex;
    height: 100vh;
  }

  &--courses {
    overflow: hidden;
    max-height: 85vh;
  }

  &--course {
    width: 85px;
    height: 85px;
    margin: 24px;
    text-align: center;
    color: $primary-3;
    background-color: $secondary-2;

    &:hover {
      border: 3px $primary-2 solid;
    }

    &.active {
      border: 3px $primary-1 solid;
    }
  }
}

.chatNavTitle {
  font-size: 20px;
  font-weight: 700;
}

li:has(> .courseNav--item.active) {
  font-weight: 700;
}
