.navigation{
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #f1f1f1;
        overflow: auto; /* Enable scrolling if the sidenav has too much content */
    }
    
    li{
        text-align: center;
        padding: 10px;
        font-size: 20px;
    }
}