.totalGradeContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.singleGradeWrapper {
  margin: 10px;
  padding: 15px;
  background-color: $secondary-2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;

  label {
    margin-left: auto;
    font-weight: 600;
  }
}

.classGrade {
  font-size: 30px;
  margin-top: 10px;
}

.classInfo {
  font-size: 30px;
  margin: 10px;
  margin-top: 20px;
}

.gradeButton {
  margin-top: 50px;
  font-size: 20px;
}

.weighting {
  width: 100%;
}

.weightRow {
  border-bottom: 1px solid #ddd;
}

.weightRow-first {
  border-bottom: 1px solid #ddd;
  border-top: 2px solid #ddd;
}

.detailHeader {
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.gradeTable {
  width: 100%;
}

.headerStyle {
  border-bottom: 2px solid #ddd;
  height: 40px;
}

.rowStyle {
  border-bottom: 1px solid #ddd;
  height: 50px;
}
