.totalGradeContainer {
  display: flex;
  justify-content: space-between;
}

.singleGradeWrapper {
  margin: 10px;
  padding: 15px;
  background-color: $secondary-2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;

  label {
    margin-left: auto;
    font-weight: 600;
  }
}

.classGrade {
  font-size: 40px;
  margin: 10px;
}

.weighting {
  margin: 10px;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
}

.headerLabel {
  margin: 10px;
}

.singleGrade {
  display: flex;
  justify-content: space-between;
}

.gradeContent {
  margin: 10px;
}

.gradeTable {
  width: 100%;
}
