.pageOutletWrapper {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 100vh;
    overflow: auto; /* Enable scrolling if the page has too much content */
}

.pageWrapper{
    padding: 15px 15px;
    flex-basis: 100%;
}

.pageTitle{
    margin: 0;
    text-align: center;
}