@import 'variables.scss';
@import 'components/Courses.scss';
@import 'components/Pages.scss';
@import 'components/Chat.scss';
@import 'components/Syllabus.scss';

.baruvasLogo {
    margin: 24px 24px -12px 24px;
}

.App {
    display: flex;
  }
  
.pageOutletWrapper {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 100%;
}




  